@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat');
:root {
  font: 16px / 1;
  /* --primary-background-color: */
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(45deg, #9cd13f 0%, #a1d252 26%, #80bf1b 59%, #7ab80e 100%);
}

h1 {
  text-align: center;
  color: white;
  margin: 1.5rem;
  margin-top: 3rem;
  font-size: 3.5rem;
  font-family: "Leckerli One", sans-serif;
}

li {
  cursor: pointer;
  margin: 1.6rem;
  font-family: "Montserrat";
}

.todo-list li span {
  margin-right: 1rem;
}

form button, .todo-list button {
  height: 2rem;
  padding: 0.5rem;
}

.completed-item {
  text-decoration: line-through;
}

input {
  padding: 12px;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
  border-radius: 3px;
  margin-right: .4rem;
  font-size: 2.2vh
}

form.add-form button {
  border-radius: 5%;
  text-align: center;
  background-color: whitesmoke;
  border: none;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  height: 5.5vh !important;
  width: 2.5rem;
}

form.add-form button:hover {
  opacity: .85;
  background-color: rgb(207, 205, 205);
}

.fa-plus {
  color: black !important;
}

#newItem {
  font-family: "Montserrat", sans-serif;
}

form.add-form {
  display: flex;
  margin-top: 2rem;
}

.reset-button {
  justify-content: center;
  border-radius: 5%;
  text-align: center;
  padding: 8px 16px;
  background-color: rgb(209, 120, 113);
  border: none;
  overflow: hidden;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 4rem 30%;
}

.reset-button:hover {
  background-color: rgb(172, 48, 39);
  color: whitesmoke;
}